.social-list {
    display: flex;
    align-items: center;
    column-gap: 40px;

    @include mobile () {
        column-gap: 20px;
    }
}

.social-list__item {

}

.social-list__link {

}